body {
    background-color: var(--background-color-primary);
    transition: background-color 0.3s, color 0.3s;
    color: var(--color-primary);
    font-family: var(--font);
}

:root {
    /* FONTES */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* COR GLOBAL */
    --background-color-primary: #0D0E10;
    --color-primary: #F2F2F2;

    /* SIDE-BAR */
    --color-sidebar: #F2F2F2;
    --color-sidebar-active: #B6E6AE;
    --background-color-sidebar: #1E402A;
    --background-sidebar-active: #0D0E10;
    --background-sidebar-btn: #D94B18;
    --dark-mode-sidebar-btn: #b8b8b8;

    /* CARDS */
    --color-border-card: #1E402A;
    --info-card: #D94B18;
    --info-p-card: #c5c5c5;
    --icone-card: white;

    /* TIMELINE */
    --tittle-color-timeline: #b8b8b8;
    --color-line: #1E402A;
    --background-dot: #1E402A;
    --border-dot: #D94B18;
    --box-shadow-timeline: #d94c184f;
    --color-timeline: #D94B18;
    --color-p-timeline: #b8b8b8;

    /* TIMELINE-MACHINE */
    --tittle-color-machine: #b8b8b8;
    --color-line-machine: #1E402A;
    --background-dot-machine: #1E402A;
    --border-dot-machine: #D94B18;
    --box-shadow-timeline-machine: #d94c184f;
    --color-date-machine: #D94B18;
    --color-p-timeline-machine: #b8b8b8;
    --color-title-timeline-machine: #B6E6AE;
    --color-btn-machine: #b8b8b8;
    --background-btn-machine: #1E402A;
}

/* MODO ESCURO */
[data-theme="dark"] {
    --background-color-primary: #ffffff;
    --color-primary: #000000;

    /* SIDE-BAR */
    --color-sidebar: white;
    --color-sidebar-active: #668033;
    --background-color-sidebar: #668033;
    --background-sidebar-active: white;
    --background-sidebar-btn: #BF3604;
    --dark-mode-sidebar-btn: #F2C53D;

    /* BANNER */
    --background-color-banner: black;
    --color-banner: white;

    /* CARDS */
    --color-border-card: #1E402A;
    --info-card: #D94B18;
    --info-p-card: #131313;
    --icone-card: #668033;

    /* TIMELINE */
    --tittle-color-timeline: #363636;
    --color-line: #668033;
    --background-dot: #D94B18;
    --border-dot: #668033;
    --box-shadow-timeline: #66803386;
    --color-timeline: #D94B18;
    --color-p-timeline: #131313;

    /* TIMELINE-MACHINE */
    --tittle-color-machine: #b8b8b8;
    --color-line-machine: #668033;
    --background-dot-machine: #D94B18;
    --border-dot-machine: #668033;
    --box-shadow-timeline-machine: #66803386;
    --color-date-machine: #668033;
    --color-p-timeline-machine: #000000;
    --color-title-timeline-machine: #D94B18;
    --color-btn-machine: #000000;
    --background-btn-machine: #668033;

}